@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --code-background-rgb: 240, 240, 240; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 1em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.7;
}

code {
  display: inline-flex;
  line-height: 1;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  background: rgb(var(--code-background-rgb));
}

.btn {
  @apply w-full sm:w-auto bg-blue-500 hover:bg-blue-700 text-white font-bold border-blue-700 rounded py-2 px-4;
}

.btn-cancel {
  @apply w-full sm:w-auto bg-red-600 hover:bg-red-500 text-white font-bold rounded py-2 px-4;
}

form {
  @apply w-full sm:max-w-lg bg-white rounded-lg m-4;
}

input,
textarea {
  @apply block w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 outline-blue-500 p-2.5 mb-3;
}

.dialog {
  @apply fixed inset-0 z-10 overflow-y-auto flex justify-center items-center bg-black bg-opacity-20;
}
